body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-content: center;
}

/* Estilizando o cabeçalho */
header {
    background-color: #4a5f91;; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno (cima e baixo) */
    text-align: center; /* Alinhamento de texto ao centro */
}

/* Estilizando o título do cabeçalho */
header h1 {
    font-size: 24px; /* Tamanho da fonte */
    margin: 0; /* Remova as margens padrão */
}

/* Estilizando o subtitulo do cabeçalho */
header p {
    font-size: 16px; /* Tamanho da fonte */
    margin: 5px 0; /* Espaçamento externo (cima e baixo) */
}


.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#visor {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.numero,
.operacao {
    font-size: 24px;
    padding: 15px 0;
    background-color: #5e4caf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.numero:hover,
.operacao:hover {
    background-color: #423fca;
}